*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: #EDF0F5;
  font-family: 'Nunito', sans-serif;
}

.container{
  margin: 0 auto;
  padding: 0 30px 0 30px;
  max-width: 1180px;
  min-width: 320px;
}

/*------------HEADER------------*/

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #525866;
  z-index: 2;
  -webkit-box-shadow: 0px 28px 29px -25px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 28px 29px -25px rgba(0,0,0,0.43);
  box-shadow: 0px 28px 29px -25px rgba(0,0,0,0.43);
}

.header__body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo{
  flex: 0 0 50px;
  z-index: 3;
}

.header__logo img{
  max-width: 100%;
  display: block;
}

.header__list{
  display: flex;
  position: relative;
  z-index: 2;
}

.header__point{
  list-style: none;
  margin: 0px 0px 0px 30px;
}

.header__link{
  color: #EDF0F5;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
}

.header__link:hover {
  color: #408BCE;
  border-bottom: 1px #408BCE solid;
  padding-bottom: 4px;
}

.header__link.active-link {
  color: #408BCE;
}

.header__burger{
  display: none;
}

/*------------INFO BLOCK------------*/

.info{
  background: #EDF0F5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.info__bottom{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info__column{
  position: relative;
  padding-bottom: 20%;
  width: 15%;
  background: #525866;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.025);
  color: #EDF0F5;
}

.info__column-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info__column + .info__column{
  margin-left: 10%;
}

.info__column:hover{
  background: #3d424c;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0px 28px 29px -23px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 28px 29px -23px rgba(0,0,0,0.43);
  box-shadow: 0px 28px 29px -23px rgba(0,0,0,0.43);
}

.info__img{
  width: 90%;
}

.info__text{
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}

.info__block{
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.info__text--contacts{
  font-size: 48px;
  color: #EDF0F5;
  text-align: center;
  padding: 15px;
}

/*------------CONTENT------------*/

.content {
  background-color: #525866;
}

.items__item {
  background: #525866;
  padding-top: 90px;
  padding-bottom: 90px;
}

.items__wrap{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.items__left{
  width: 50%;
  display: flex;
  align-items: center;
}

.items__right{
  width: 50%;
}

.items__left--partner{
  width: 70%;
  display: flex;
  align-items: center;
}

.items__right--partner{
  width: 30%;
}

.items__image {
  flex: 0 0 33.333%;
  position: relative;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.items__image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.items__body {
  flex: 1 1 auto;
}

.items__body ul{
  margin-block-start: 0;
  padding-inline-start: 20px;
  margin-block-end: 0;
}

.items__label {
  font-weight: 700;
  display: inline-block;
  margin: 0px 0px 20px 0px;
  color: #EDF0F5;
  line-height: 1.2;
  font-size: 28px;
}

.items__text {
  margin: 0px 0px 20px 0px;
  color: #EDF0F5;
  line-height: 1.5;
  font-size: 16px;
}

.items__list{
  color: #EDF0F5;
  padding-bottom: 15px;
  line-height: 24px;
}

.items__info{
  margin: 10px 0px 30px 0px;
}

.items__button{
  background: #EDF0F5;
  color: #525866;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s ease 0s;
  border-radius: 2px;
}

.items__button:hover{
  background: #525866;
  color: #EDF0F5;
}

.items__button-inversion{
  background: #525866;
  color: #EDF0F5;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.4s ease 0s;
}

.items__button-inversion:hover{
  background: #EDF0F5;
  color: #525866;
}

.content-inversion {
  background-color: #EDF0F5;
}

.items__item-inversion {
  display: flex;
  background: #EDF0F5;
  padding-top: 90px;
  padding-bottom: 90px;
}

.items__link{
  color: #408BCE;
  text-decoration: none;
}

.items__link-inversion {
  color: #408BCE;
  text-decoration: none;
}

.items__label-inversion {
  font-weight: 700;
  display: inline-block;
  margin: 0px 0px 20px 0px;
  color: #525866;
  font-size: 32px;
}

.items__text-inversion {
  color: #525866;
  margin: 0px 0px 20px 0px;
  line-height: 24px;
  font-size: 16px;
}

.items__list-inversion{
  color: #525866;
  padding-bottom: 15px;
  line-height: 24px;
}

.first {
  padding-top: 120px;
}

/*------------FOOTER------------*/

.footer{
  background: #525866;
}

.footer__wrap{
  display: block;
}

.footer__top{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom{
  text-align: center;
  color: #408BCE;
}

.footer__col-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__year{
  padding: 5px;
}

.footer__logo{
  flex: 0 0 130px;
}

.footer__logo img{
  max-width: 100%;
  display: block;
}

.footer__right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list{
  display: flex;
  align-items: center;
}

.footer__link{
  color: #EDF0F5;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.footer__link:hover{
  color: #408BCE;
}

.footer__link.active-link-footer{
  color: #408BCE;
}

.footer__contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__point{
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.footer__point:first-child{
  list-style: none;
  margin: 0;
}

.footer__img{
  flex: 0 0 50px;
}

.footer__img img{
  max-width: 100%;
  display: block;
}

/*--------------------------------*/
.page{
  background: #EDF0F5;
}

.page__wrap{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__label{
  margin: 0;
  color: #525866;
  text-transform: uppercase;
  padding: 10px;
  font-size: 42px;
}

.first__label{
  padding-top: 107px;
  padding-bottom: 23px;
}

/*------------FB-FORM------------*/

.feedback{
  background: #EDF0F5;
}

.feedback__wrap{
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.feedback__title{
  color: #525866;
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
}

.feedback__form{
  flex: 1 1 auto;
}

.feedback__input-wrap{
  margin: 10px 0 10px 0;
  display: block;
}

.feedback__label{
  font-size: 18px;
  color: #525866;
}

.feedback__input{
  margin-top: 5px;
  width: 100%;
  height: 50px;
  color: #333;
  padding: 0 10px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.feedback__input--textarea{
  padding: 10px;
  height: 100px;
}

.feedback__btn{

}

.btn{
  overflow: hidden;
  max-width: 100%;
  height: 40px;
  padding: 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: #EDF0F5;
  background-color: #408BCE;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
}

.feedback__right {
  flex: 0 0 33.333%;
  position: relative;
  min-height: 150px;
  margin: 5px;
}

.feedback__right img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}



/*------------ADAPTIVE------------*/

@media (max-width: 980px) {
  .footer__list{
    display: block;
  }

  .footer__top{
    display: block;
  }

  .footer__col-1{
    display: none;
  }

  .footer__col-2{
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .footer__contact{
    padding: 10px;
  }

  .footer__point{
    padding: 10px;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 782px) {
  body.lock{
    overflow: hidden;
  }

  .header__body{
    height: 50px;
  }

  .header__logo{
    flex: 0 0 30px;
  }

  .header__burger{
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span{
    position: absolute;
    background-color: #EDF0F5;
    left: 0;
    width: 100%;
    height: 4px;
    top: 8px;
    transition: all 0.3s ease 0s;
    border-radius: 100px;
  }

  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: #EDF0F5;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all 0.3s ease 0s;
    border-radius: 100px;
    box-shadow: 0px 28px 29px -14px rgba(0,0,0,0.43);
  }

  .header__burger:before{
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:after{
    bottom: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span{
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:before{
    transform: rotate(45deg);
    top: 8px;
  }

  .header__burger.active:after{
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .header:before{
    -webkit-box-shadow: 0px 28px 29px -19px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 28px 29px -19px rgba(0,0,0,0.43);
    box-shadow: 0px 28px 29px -19px rgba(0,0,0,0.43);
  }

  .header__menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(82, 88, 102, 0.9);
    padding: 50px 0px 0px 0px;
    transition: all 0.4s ease 0s;
  }

  .header__menu.active{
    top: 0;
    transition: all 0.4s ease 0s;
  }

  .header__link{
    color: #EDF0F5;
    font-size: 28px;
    text-transform: uppercase;
  }

  .header__list{
    flex-direction: column;
    padding-inline-start: 0px;
    align-items: center;
  }

  .header__list li:first-child{
    margin: 15px 0px 10px 0px;
  }

  .header__list li{
    margin: 0px 0px 10px 0px;
  }

  .items__item{
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .items__wrap{
    display: block;
  }

  .items__left{
    width: 100%;
  }

  .items__right{
    width: 100%;
  }

  .items__left--partner{
    width: 100%;
  }

  .items__right--partner{
    width: 100%;
  }

  .items__image {
    margin: 10px 0 0 0;
  }

  .items__item-inversion{
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .items__info{
    display: flex;
    justify-content: center;
  }

  .first {
    padding-top: 60px;
  }

  .first__label{
    padding-top: 70px;
  }

  .info__column{
    width: 80%;
    padding-bottom: 90%;
  }

  .info__column + .info__column{
    margin-left: 0;
    margin-top: 30px;
  }

  .feedback__wrap{
    justify-content: center;
    align-items: center;
  }

  .feedback__right {
    display: none;
  }
  
}
